{
    "template": "cib*"

    "mappings": {
      "ums": {
        "properties":
          "tip": {
            "type": "string",
            "index": "not_analyzed"
          },
          "app": {
            "type": "string",
            "index": "not_analyzed"
          },
          "app-service": {
            "type": "string",
            "index": "not_analyzed"
          },
          "interface": {
            "type": "string",
            "index": "not_analyzed"
          },
          "interface-service": {
            "type": "string",
            "index": "not_analyzed"
          },
          "checkpoint": {
            "type": "string",
            "index": "not_analyzed"
          },
          "thread": {
            "type": "string",
            "index": "not_analyzed"
          },
          "level": {
            "type": "string",
            "index": "not_analyzed"
          },
          "class": {
            "type": "string",
            "index": "not_analyzed"
          },
          "traceid": {
            "type": "string",
            "index": "not_analyzed"
          },
          "seqid": {
            "type": "string",
            "index": "not_analyzed"
          },
          "logdate": {
            "type": "string",
            "index": "not_analyzed"
            "format": "strict_date_optional_time||epoch_millis"
          }
      }
    }
}
